{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <div class="card shadow-sm border-0 p-4">
                <h4 class="mb-4">🎉 رمز عورت با موفقیت تغییر کرد</h4>
                <p class="text-muted">حالا می‌توانید با رمز عبور جدید وارد شوید.</p>
                <a href="{% url 'login' %}" class="btn btn-primary mt-3">ورود به حساب</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
